$pf: 'Playfair Display', serif;
$os: 'Open Sans', sans-serif;

@font-face {
	font-family: 'Denistina';
	src: url('../fonts/Denistina.woff2') format('woff2'),
		url('../fonts/Denistina.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}