@import "_normalize.scss";
@import "_variables.scss";
@import "_slick.scss";
@import "_sprite.scss";

body {
	font: 400 13px/24px $os;
	color: #333333;
}
.container {
	max-width: 1120px;
	margin: auto;
	padding: 0 10px;
}

.large-container {
	max-width: 1260px;
	margin: auto;
}

.site-header {
	height: 130px;
	&__inner {
		position: relative;
		padding: 0 120px;
	}
	.logo {
		float: left;
		margin-top: 24px;
	}
}

.main-menu {
	float: right;
	list-style-type: none;
	margin: 60px 0 0;
	padding: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 50px;
		a {
			font: 800 12px $os;
			color: #003663;
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			padding-bottom: 3px;
			border-bottom: 2px solid transparent;
			transition: all .3s ease-in-out;
			&:hover {
				border-color: #ea8b3f;
			}
		}
	}
}

.top-slide__index {
	background: url(../img/index-top.jpg) bottom center no-repeat;
	background-size: cover;
	padding: 130px 0;
}

.manuscript {
	padding: 70px 0 80px;
	background: url(../img/manuscript.png) bottom center no-repeat #fff;
	p {
		margin: 0;
		font: 33px/48px 'Denistina';
		color: #324172;
		letter-spacing: 0.025em;
	}
}

.index-cats {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	&__item {
		background-color: #f0f0f0;
		height: 320px;
		width: 33.33%;
		position: relative;
		&:nth-child(2) {
			border-left: 5px solid #fff;
			border-right: 5px solid #fff;
		}
		&:nth-child(3) {
			background-position: right center;
			background-image: url(../img/index-third.png);
			background-repeat: no-repeat;
		}
	}
	&__heading {
		font: 800 12px $os;
		color: #878787;
		letter-spacing: 0.45em;
		text-transform: uppercase;
		margin: 40px 0 0 55px;
	}
	&__title {
		position: absolute;
		left: 55px;
		bottom: 50px;
		font: 700 30px $pf;
		color: #003663;
		margin: 0;
	}
}

.cat-section {
	padding: 50px 0;
	border-bottom: 1px solid #f0f0f0;
	.large-container {
		display: none;
		&.active {
			display: block;
		}
	}
	.heading-side {
		margin-bottom: 20px;
		.title {
			margin: 0;
			float: left;
			font: 700 30px $pf;
			color: #153062;
		}
		.to-cat {
			text-transform: uppercase;
			text-decoration: none;
			font: 800 12px $os;
			color: #0f3e51;
			letter-spacing: 0.2em;
			padding-bottom: 3px;
			border-bottom: 3px solid #ea8b3f;
			float: right;
			margin-top: 13px;
		}
	}
}

.cat-tab__wrapper {
	.title {
		margin: 5px 0 0;
		float: left;
		font: 700 18px $pf;
		color: #153062;
	}
	.tags__wrapper {
		margin-left: 150px;
	}
}

.tab-heading-style {
	display: inline-block;
	margin: 0 5px 10px;
	padding: 0 30px;
	height: 40px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	font: 400 13px/38px $os;
	color: #555556;
	text-decoration: none;
	transition: all .3s ease-in-out;
	&:hover, &.active {
		color: #fff;
		background: #ea8b3f;
	}
}

.cat-section {
	.large-container {
		position: relative;
	}
}

.slider__arrows {
	position: absolute;
	position: absolute;
	top: 175px;
	cursor: pointer;
	&.arr-l {
		@include sprite($arr-l);
		left: 0;
		&:hover {
			@include sprite($arr-l-hover);
		}
	}
	&.arr-r {
		@include sprite($arr-r);
		right: 0;
		&:hover {
			@include sprite($arr-r-hover);
		}
	}
}

.cat__slider {
	margin-top: 25px;
	.slick-dots {
		margin: 30px 0 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 2px;
			&.slick-active {
				button {
					background: #153062;
				}
			}
		}
		button {
			font-size: 0px;
			text-indent: -9999px;
			cursor: pointer;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			padding: 0;
			display: block;
			outline: 0;
			border: none;
			background: #fff;
			border: 4px solid #153062;
			&:hover {
				background: #153062;
			}
		}
	}
	.slick-list {
		margin: 0 -10px;
	}
	&-item {
		margin: 0 10px;
		.img-wrapper {
			height: 385px;
			border: 1px solid #f4f4f4;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			overflow: hidden;
			img {
				max-width: 100%;
				height: auto;
				display: block;
				max-height: 100%;
				margin: auto;
				transition: transform .3s ease-in-out;
			}
		}
		&:hover {
			.img-wrapper {
				img {
					transform: scale(1.02);
				}
			}
		}
		&-tabs {
			margin-top: 10px;
		}
		.title-wrapper {
			padding: 0 30px;
		}
		.title {
			margin: 0;
			font: 400 14px $os;
			color: #153062;
			display: inline-block;
		}
		.art {
			color: #bac3d4;
			font: 400 14px $os;
		}
		.tag {
			margin-left: 0;
		}
	}

}

.index-order {
	padding: 160px 0 120px;
	background: url(../img/index-order.jpg) top center no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	h3 {
		font: 700 48px $pf;
		margin: 0 0 15px;
	}
	a {
		display: inline-block;
		font: 800 12px $os;
		color: #fff;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		text-decoration: none;
		padding-bottom: 3px;
		border-bottom: 3px solid #ea8b3f;
	}
}

.index-about {
	padding: 100px 0;
	background: url(../img/about-bg.jpg) top center no-repeat;
	background-size: cover;
	.subtitle {
		margin: 0;
		padding-top: 20px;
		position: relative;
		font: 800 12px $os;
		color: #434343;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		&::before {
			position: absolute;
			content: '';
			width: 50px;
			height: 5px;
			background: #ea8b3f;
			top: 0;
			left: 0;
		} 
	}
	h3 {
		font: 700 32px $pf;
		color: #153062;
		margin-bottom: 10px;
	}
	p {
		font: 300 14px/26px $os;
		color: #474747;
	}
}

.footer-menu {
	padding: 60px 0;
	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	&__col {
		position: relative;
		.title {
			margin: 0 0 20px;
			font: 900 20px $pf;
			color: #1b1b1b;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				margin-bottom: 10px;
				a {
					font: 400 13px $os;
					color: #0f3e51;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.order {
			display: block;
			font: 800 12px $os;
			color: #153062;
			letter-spacing: .25em;
			text-transform: uppercase;
			text-decoration: none;
			padding-bottom: 3px;
			border-bottom: 3px solid #ea8b3f;
			margin-top: 35px;
		}
	}
}

.footer-bottom {
	background: #001f57;
	padding: 30px 0;
	color: #aab7cf;
}

.footer-copyright {
	float: left;
	font: 300 12px $os;
}

.footer-social {
	float: left;
	margin-left: 30px;
	font: 300 12px $os;
	span {
		display: inline-block;
	}
	&__wrapper {
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
		a {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}

.madein {
	float: right;
	font: 300 12px $os;
	a {
		color: #71a3ff;
	}
}
.page-title {
	font: 700 30px $pf;
	color: #153062;
	margin: 0 0 25px 5px;
}

.page-wrapper {
	.large-container {
		border-top: 1px solid #f0f0f0;
		padding: 40px 0;
		margin-top: 40px;
	}
}
.cat-wrapper {
	.cat-list {
		margin: 0 0 20px 5px;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				font: 700 18px $pf;
				color: #153062;
				text-decoration: none;
				&:hover, &.active {
					color: #ea8b3f;
				}
			}
		}
	}
}

.cat-items {
	overflow: hidden;
	margin-top: 50px;
	&__inner {
		margin: 0 -10px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.cat__slider-item {
		width: 25%;
		margin: 0 0 40px;
		padding: 0 10px;
	}
}

.view-more {
	display: inline-block;
	background: #ea8b3f;
	padding: 0 40px;
	height: 50px;
	color: #fff;
	font: 800 14px/50px $os;
	letter-spacing: .2em;
	text-decoration: none;
	transition: all .3s ease-in-out;
	&:hover {
		background: #da792c;
	}
}

.view-more-wrapper {
	text-align: center;
	margin: 50px 0;
}

.top-slide__about {
	background: url(../img/about-page-bg.jpg);
	background-size: cover;
	background-position: bottom center;
	padding: 130px 0;
	min-height: 790px;
}

.about-page {
	.subheading {
		font-size: 20px;
		margin: 40px 0 10px;
		color: #153062;
	}
}

.justify-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	img {
		display: block;
		max-width: 32%;
		height: auto;
	}
}

.top-slide__contacts {
	background: url(../img/contacts-bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 150px 0;
	min-height: 760px;
}

.contacts__wrapper {
	display: flex;
	padding: 0 5px;
	justify-content: space-between;
	.contacts__col {
		width: 40%;
	}
	p {
		margin: 0;
	}
	.title {
		font: 600 19px/24px $os;
		color: #333333;
		a {
			color: #333333;
			text-decoration: none;
		}
	}
	.description {
		font: 400 13px/24px $os;
		color: #333333;
	}
	.tels {
		margin-top: 35px;
	}
	input {
		display: block;
		height: 50px;
		background-color: white;
		border: 2px solid #ccd1d3;
		width: 100%;
		padding: 0 15px;
		outline: 0;
		margin-bottom: 15px;
	}
	textarea {
		display: block;
		height: 150px;
		background-color: white;
		border: 2px solid #ccd1d3;
		width: 100%;
		padding: 15px;
		outline: 0;
		resize: none;
	}
	.submit {
		cursor: pointer;
		max-width: 180px;
		margin: 15px auto 0;
		height: 52px;
		background-color: #ffba00;
		border-radius: 2px;
		border: none;
		color: #fff;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		&:hover {
			background: #dfa509;
		}
	}
}


.map-side {
	height: 540px;
	margin: 40px 0;
}

















