block footer

	footer.site-footer
		.footer-menu
			.container
				.footer-menu__row
					.footer-menu__col
						p.title Обувь
						ul
							li
								a(href="#") Cапоги – дутики
							li
								a(href="#") Cпортивная обувь
							li
								a(href="#") Кроссовки
							li
								a(href="#") Слипоны
					.footer-menu__col
						p.title Одежда
						ul
							li
								a(href="#") Купальники
							li
								a(href="#") Куртки, жилетки
							li
								a(href="#") Платья вечерние и офисные
							li
								a(href="#") Блузки офисные
							li
								a(href="#") Свитшоты молодёжные.
							li
								a(href="#") Джинсы
							li
								a(href="#") Рубашки
							li
								a(href="#") Шифоновая летняя коллекция
					.footer-menu__col
						p.title Аксессуары
						ul
							li
								a(href="#") Сумки  экокожи
							li
								a(href="#") Сумки из  кожи
							li
								a(href="#") Кошельки и клатчи из кожи
							li
								a(href="#") Шарфы
							li
								a(href="#") Бижутерия брендовая
							li
								a(href="#") Часы женские, мужские
							li
								a(href="#") Солнечные очки копии брендов
							li
								a(href="#") Солнечные очки молодёжные
					.footer-menu__col
						p.title Сайт
						ul
							li
								a(href="#") Главная 
							li
								a(href="#") Новости
							li
								a(href="#") Каталог
							li
								a(href="#") Блог
							li
								a(href="#") О компании
							li
								a(href="#") Контакты
						a.order(href="#") Заказать каталог

		.footer-bottom
			.container.cf
				.footer-copyright © 2017 Свани. Все права защищены.
				.footer-social
					span Мы в социальных сетях:
					.footer-social__wrapper
						a.vk(href="#")
							img(src="img/vk.png", alt="")
						a.fb(href="#")
							img(src="img/fb.png", alt="")
				.madein Создание и разработка  - 
					a(href="#") Beluga Labs
						