block header

	header.site-header
		.site-header__inner.cf
			a.logo(href="#")
				img(src="img/logo.png", alt="")
			ul.main-menu
				li
					a(href="#") Главная
				li
					a(href="#") Новости
				li
					a(href="#") Каталог
				li
					a(href="#") О нас
				li
					a(href="#") Контакты
