extends _layout
block content
	main.main-content
		.top-slide.top-slide__about
		.page-wrapper.about-page
			.large-container
				.container
					h1.page-title О Нас
					p Сезон весна-лето 2017 богат на принты. Но можно сказать с уверенностью, что лидирующим трендом в этом направлении является клетка. Причем современная мода диктует такие варианты ее комплектации, которые лет десять назад модная общественность расценила бы как показатель отсутствия вкуса. К примеру, в одном образе сейчас можно смешать сразу несколько вариантов – «гусиная лапка», виши и, скажем, аргайл. Самое время разобраться в том, что все названия обозначают.
					p.subheading Клановый тартан
					p Сразу оговоримся, что подавляющее большинство известных нам типов клетки – это тартаны, так как это общепринятое в Шотландии название ткани с узором. Но существуют как классические клановые тартаны и их современные аналоги, так и не клановые вариации, модернизированные в разное время. Начать нужно, пожалуй, с самого популярного и старейшего варианта – классического тартана, который у нас часто называют шотландкой. Этот узор получается при переплетении заранее окрашенных в разные цвета саржевых нитей. Изначально клетка была просто украшением ткани и цветам никакого особого значения никто не придавал. Так уж сложилось, что нити окрашивались теми природными красителями, которые были типичны для той или иной местности Шотландии. Постепенно это стало традицией, и каждый клан приобрел свой собственный тартан, отличающийся цветовой гаммой, количеством оттенков и полос.
					.manuscript
						p Как замечают модные эксперты, если ты хочешь подняться вверх по карьерной лестнице, одевайся так, как будто ты уже там. Это не значит одеваться в дорогих магазинах, это значит выглядеть дорого и со вкусом!
					p Сегодня существует великое множество тартанов. Самым известным считается Royal Stewart – официальный тартан королевы Великобритании. Его популярность объясняется тем, что начиная с 70-х годов этот тартан активно использовался представителями панк-культуры. Еще один узнаваемый тартан, который ни с чем не спутает ни одна модница, – это Burberry, включающий четыре цвета – песочный, черный, белый и красный. Он был зарегистрирован в 1924 году и использовался одноименным модным домом в подкладочных тканях для тренчей. Постепенно компания Burberry ввела этот принт для аксессуаров, самыми популярными из которых стали клетчатые шарфы.
					.justify-wrap
						img(src="img/ab1.jpg", alt="")
						img(src="img/ab2.jpg", alt="")
						img(src="img/ab3.jpg", alt="")
					p К популяризации тартана в Великобритании приложила руку королева Виктория. Она была страстной поклонницей всего, что связано с Шотландией. Ее резиденция была сплошь украшена тканями в клетку, и в одежде этот принт присутствовал постоянно. Вслед за своей королевой на тартане помешалось и все британское общество. До сих пор такая клетка ассоциируется с английским стилем. Не отходила от традиций и известная икона стиля принцесса Диана, в гардеробе которой можно увидеть бесчисленное количество различных тартанов. А сегодня эстафету подхватила герцогиня Кембриджская Кейт Миддлтон.
			.index-order
				.container
					h3 Каталог наших товаров
					a(href="#") Заказать каталог





block inlineScripts