extends _layout
block content
	main.main-content
		.top-slide.top-slide__index
			.container
				img(src="img/index_b.png", alt="")
		.cat-wrapper.page-wrapper
			.large-container
				.container
					h1.page-title Каталог
					ul.cat-list
						li
							a.active(href="#") Обувь
						li
							a(href="#") Одежда
						li
							a(href="#") Аксессуары
						li
							a(href="#") Сумки
					.tags__wrapper
						a.tab-heading-style(href="#") Кроссовки
						a.tab-heading-style.active(href="#") Сандали
						a.tab-heading-style(href="#") Мокассины
						a.tab-heading-style(href="#") Туфли
						a.tab-heading-style(href="#") Сапоги
					.cat-items
						.cat-items__inner
							.cat__slider-item
								.img-wrapper
									img(src="img/s1.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s2.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s3.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s4.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s1.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s1.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s2.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s3.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s4.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s1.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s1.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s2.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s3.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s4.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
							.cat__slider-item
								.img-wrapper
									img(src="img/s1.png", alt="")
								.title-wrapper
									p.title Название Модели, 
									span.art  508NW003
									.cat__slider-item-tabs
										a.tag.tab-heading.tab-heading-style(href="#") Кроссовки
					a.view-more(href="#") ПОКАЗАТЬ ЕЩЕ
		.index-order
			.container
				h3 Каталог наших товаров
				a(href="#") Заказать каталог





block inlineScripts