extends _layout
block content
	main.main-content
		.top-slide.top-slide__index
			.container
				img(src="img/index_b.png", alt="")
		.manuscript
			.container
				p Как замечают модные эксперты, если ты хочешь подняться вверх по карьерной лестнице, одевайся так, как будто ты уже там. Это не значит одеваться в дорогих магазинах, это значит выглядеть дорого и со вкусом!
		.index-cats
			.index-cats__item
				p.index-cats__heading коллекция 2017
				p.index-cats__title Обувь
			.index-cats__item
				p.index-cats__heading коллекция 2017
				p.index-cats__title Одежда
			.index-cats__item
				p.index-cats__heading коллекция 2017
				p.index-cats__title Аксессуары
		.cat-section
			.container
				.heading-side.cf
					h3.title Обувь
					a.to-cat(href="#") перейти в каталог
				.cat-tab__wrapper
					p.title Выбор по тегам
					.tags__wrapper
						a.tab-heading(href="#") Кроссовки
						a.tab-heading(href="#") Сандали
						a.tab-heading(href="#") Мокассины
						a.tab-heading(href="#") Туфли
						a.tab-heading(href="#") Сапоги
			.large-container
				.arr-l.slider__arrows
				.arr-r.slider__arrows
				.container
					.cat__slider
						.cat__slider-item
							.img-wrapper
								img(src="img/s1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/s2.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/s3.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/s4.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/s1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
		.cat-section
			.container
				.heading-side.cf
					h3.title Одежда
					a.to-cat(href="#") перейти в каталог
				.cat-tab__wrapper
					p.title Выбор по тегам
					.tags__wrapper
						a.tab-heading(href="#") Купальники
						a.tab-heading(href="#") Блузы
						a.tab-heading(href="#") Футболки
						a.tab-heading(href="#") Платья вечерние
						a.tab-heading(href="#") Платья офисные
						a.tab-heading(href="#") Фитнес одежда
						a.tab-heading(href="#") Брюки
						a.tab-heading(href="#") Ниж. бельё
						a.tab-heading(href="#") Худи
						a.tab-heading(href="#") Куртки пальто
			.large-container
				.arr-l.slider__arrows
				.arr-r.slider__arrows
				.container
					.cat__slider
						.cat__slider-item
							.img-wrapper
								img(src="img/img-v.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/img-v1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/img-v2.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/img-v3.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/s1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
		.cat-section
			.container
				.heading-side.cf
					h3.title Аксессуары
					a.to-cat(href="#") перейти в каталог
				.cat-tab__wrapper
					p.title Выбор по тегам
					.tags__wrapper
						a.tab-heading(href="#") Бижутерия
						a.tab-heading(href="#") Солнечные очки
						a.tab-heading(href="#") Шарфы
						a.tab-heading(href="#") Часы
			.large-container
				.arr-l.slider__arrows
				.arr-r.slider__arrows
				.container
					.cat__slider
						.cat__slider-item
							.img-wrapper
								img(src="img/ac1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/ac2.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/ac3.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/ac4.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/ac1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
		.cat-section
			.container
				.heading-side.cf
					h3.title Сумки, кошельки
					a.to-cat(href="#") перейти в каталог
				.cat-tab__wrapper
					p.title Выбор по тегам
					.tags__wrapper
						a.tab-heading(href="#") Cумки
						a.tab-heading(href="#") Кошельки
						a.tab-heading(href="#") Ремни
			.large-container
				.arr-l.slider__arrows
				.arr-r.slider__arrows
				.container
					.cat__slider
						.cat__slider-item
							.img-wrapper
								img(src="img/sum1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/sum2.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/sum3.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/sum4.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
						.cat__slider-item
							.img-wrapper
								img(src="img/sum1.png", alt="")
							.title-wrapper
								p.title Название Модели, 
								span.art  508NW003
								.cat__slider-item-tabs
									a.tag.tab-heading(href="#") Кроссовки
		.index-order
			.container
				h3 Каталог наших товаров
				a(href="#") Заказать каталог
		.index-about
			.container
				p.subtitle Наши особености
				h3 О компании
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.







block inlineScripts